ğŸ“’ [NB 1-3] íŒŒìƒ ë³€ìˆ˜ ìƒì„± (Feature Creation)
1. ì‹¤ìŠµ ë°ì´í„° ì¤€ë¹„
í‚¤, ëª¸ë¬´ê²Œ, ì…/í‡´ì› ë‚ ì§œê°€ í¬í•¨ëœ ë°ì´í„°ë¥¼ ìƒì„±í•œë‹¤. ì´ ì›ë³¸ ë°ì´í„°ë“¤ì„ ì¡°í•©í•˜ì—¬ ì˜í•™ì ìœ¼ë¡œ ì˜ë¯¸ ìˆëŠ” ìƒˆë¡œìš´ ë³€ìˆ˜ë¥¼ ë§Œë“ ë‹¤.

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

data = {
    'Patient_ID': ['P001', 'P002', 'P003', 'P004', 'P005'],
    'Height_cm': [175, 160, 180, 165, 150],
    'Weight_kg': [70, 50, 95, 80, 45],
    'Birth_Date': ['1990-05-15', '1982-11-20', '1975-03-10', '2000-01-05', '1955-08-30'],
    'Admission_Date': ['2023-01-01', '2023-02-10', '2023-03-05', '2023-01-20', '2023-04-01'],
    'Discharge_Date': ['2023-01-05', '2023-02-12', '2023-03-20', '2023-02-10', '2023-04-05']
}

df = pd.DataFrame(data)

# ë‚ ì§œ ì»¬ëŸ¼ì€ ë¬¸ìì—´(String)ë¡œ ë˜ì–´ìˆìœ¼ë¯€ë¡œ datetime ê°ì²´ë¡œ ë³€í™˜í•´ì•¼ ê³„ì‚°ì´ ê°€ëŠ¥í•˜ë‹¤.
df['Birth_Date'] = pd.to_datetime(df['Birth_Date'])
df['Admission_Date'] = pd.to_datetime(df['Admission_Date'])
df['Discharge_Date'] = pd.to_datetime(df['Discharge_Date'])

print("ë°ì´í„° ì¤€ë¹„ ì™„ë£Œ:")
display(df.head(2))

ë°ì´í„° ì¤€ë¹„ ì™„ë£Œ:

  Patient_ID  Height_cm  Weight_kg Birth_Date Admission_Date Discharge_Date
0       P001        175         70 1990-05-15     2023-01-01     2023-01-05
1       P002        160         50 1982-11-20     2023-02-10     2023-02-12

2. ìˆ˜ì¹˜ ì—°ì‚°ì„ í†µí•œ ë³€ìˆ˜ ìƒì„±: BMI ê³„ì‚°
BMI(Body Mass Index)ëŠ” ì²´ì¤‘(kg) / í‚¤(m)^2 ë¡œ ê³„ì‚°í•œë‹¤. ë°ì´í„°ì˜ í‚¤ëŠ” cm ë‹¨ìœ„ì´ë¯€ë¡œ m ë‹¨ìœ„ë¡œ ë³€í™˜ì´ í•„ìš”í•˜ë‹¤.

In [2]:
# 1. í‚¤ë¥¼ cmì—ì„œ më¡œ ë³€í™˜
df['Height_m'] = df['Height_cm'] / 100

# 2. BMI ê³µì‹ ì ìš©
df['BMI'] = df['Weight_kg'] / (df['Height_m'] ** 2)

# 3. ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼
df['BMI'] = df['BMI'].round(2)

print("BMI ì»¬ëŸ¼ ìƒì„± ì™„ë£Œ:")
display(df[['Patient_ID', 'Height_cm', 'Weight_kg', 'BMI']])

BMI ì»¬ëŸ¼ ìƒì„± ì™„ë£Œ:

  Patient_ID  Height_cm  Weight_kg    BMI
0       P001        175         70  22.86
1       P002        160         50  19.53
2       P003        180         95  29.32
3       P004        165         80  29.38
4       P005        150         45  20.00

3. ë‚ ì§œ ì—°ì‚°ì„ í†µí•œ ë³€ìˆ˜ ìƒì„±: ì¬ì› ê¸°ê°„(LOS) ë° ë‚˜ì´
ì‹œê³„ì—´ì´ ì•„ë‹ˆë”ë¼ë„, 'ê¸°ê°„'ì´ë‚˜ 'ë‚˜ì´'ëŠ” ë‘ ì‹œì ì˜ ì°¨ì´(Diff)ë¡œ ê³„ì‚°ë˜ëŠ” ë¹„ì‹œê³„ì—´ì  ë³€ìˆ˜ë¡œ ìì£¼ ì‚¬ìš©ëœë‹¤.

In [3]:
# 1. ì¬ì› ê¸°ê°„ (Length Of Stay, LOS) ê³„ì‚°
# í‡´ì›ì¼ - ì…ì›ì¼ = Timedelta ê°ì²´ (ì¼ìˆ˜ + ì‹œê°„)
# .dt.days ë¥¼ ì‚¬ìš©í•˜ì—¬ 'ì¼ìˆ˜(Day)'ë§Œ ìˆ«ìë¡œ ì¶”ì¶œí•œë‹¤.
df['LOS_Days'] = (df['Discharge_Date'] - df['Admission_Date']).dt.days

print("\nì¬ì› ê¸°ê°„(LOS) ê³„ì‚° ì™„ë£Œ:")
display(df[['Patient_ID', 'Admission_Date', 'Discharge_Date', 'LOS_Days']])

# 2. ë§Œë‚˜ì´ ê³„ì‚° (í˜„ì¬ ì—°ë„ ê¸°ì¤€)
current_year = 2025 # í˜„ì¬ ì—°ë„ ê°€ì •
df['Age'] = current_year - df['Birth_Date'].dt.year

print("\në‚˜ì´(Age) ê³„ì‚° ì™„ë£Œ:")
display(df[['Patient_ID', 'Birth_Date', 'Age']])

ì¬ì› ê¸°ê°„(LOS) ê³„ì‚° ì™„ë£Œ:

  Patient_ID Admission_Date Discharge_Date  LOS_Days
0       P001     2023-01-01     2023-01-05         4
1       P002     2023-02-10     2023-02-12         2
2       P003     2023-03-05     2023-03-20        15
3       P004     2023-01-20     2023-02-10        21
4       P005     2023-04-01     2023-04-05         4

ë‚˜ì´(Age) ê³„ì‚° ì™„ë£Œ:

  Patient_ID Birth_Date  Age
0       P001 1990-05-15   35
1       P002 1982-11-20   43
2       P003 1975-03-10   50
3       P004 2000-01-05   25
4       P005 1955-08-30   70

4. ì¡°ê±´ì— ë”°ë¥¸ ë²”ì£¼í™” (Categorization)
ì—°ì†í˜• ë³€ìˆ˜(ìˆ«ì)ë¥¼ êµ¬ê°„ë³„ë¡œ ë‚˜ëˆ„ì–´ ë²”ì£¼í˜• ë³€ìˆ˜(ë“±ê¸‰)ë¡œ ë§Œë“ ë‹¤.
ì˜ˆ: BMI ìˆ˜ì¹˜ì— ë”°ë¼ ì €ì²´ì¤‘/ì •ìƒ/ë¹„ë§Œìœ¼ë¡œ ë¶„ë¥˜í•œë‹¤.

In [4]:
# í•¨ìˆ˜ ì •ì˜: BMI ìˆ˜ì¹˜ì— ë”°ë¼ ìƒíƒœë¥¼ ë°˜í™˜
def classify_bmi(bmi):
    if bmi < 18.5:
        return 'Underweight'
    elif 18.5 <= bmi < 25.0:
        return 'Normal'
    else:
        return 'Obese'

# apply í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°í”„ë ˆì„ ì „ì²´ì— ì ìš©
df['BMI_Class'] = df['BMI'].apply(classify_bmi)

print("\nBMI ë“±ê¸‰ ë¶„ë¥˜ ì™„ë£Œ:")
display(df[['Patient_ID', 'BMI', 'BMI_Class']])

BMI ë“±ê¸‰ ë¶„ë¥˜ ì™„ë£Œ:

  Patient_ID    BMI BMI_Class
0       P001  22.86    Normal
1       P002  19.53    Normal
2       P003  29.32     Obese
3       P004  29.38     Obese
4       P005  20.00    Normal