ğŸ“’ [NB 1-2] í™˜ì ì½”í˜¸íŠ¸(Cohort) ì¶”ì¶œ ë° í•„í„°ë§
1. ì‹¤ìŠµ ë°ì´í„° ì¤€ë¹„
ì¡°ê¸ˆ ë” ê·œëª¨ê°€ ìˆëŠ” ê°€ìƒì˜ EMR ë°ì´í„°ë¥¼ ìƒì„±í•œë‹¤. ê²°ì¸¡ì¹˜(NaN)ë„ ì˜ë„ì ìœ¼ë¡œ í¬í•¨ì‹œí‚¨ë‹¤.

In [ ]:
import pandas as pd
import numpy as np

# 10ëª…ì˜ í™˜ì ë°ì´í„° ìƒì„±
data = {
    'Patient_ID': [f'P{i:03d}' for i in range(1, 11)],
    'Age': [25, 65, 72, 34, 88, 55, 41, 62, 77, 29],
    'Gender': ['M', 'F', 'M', 'F', 'M', 'F', 'M', 'M', 'F', 'F'],
    'Diagnosis_Code': ['E11', 'I10', 'I10', 'J00', 'I10', 'E11', 'Normal', 'E11', 'C34', 'Normal'],
    # E11: ë‹¹ë‡¨, I10: ê³ í˜ˆì••, J00: ê°ê¸°, C34: íì•”
    'Systolic_BP': [120, 145, 160, 110, 150, 130, 118, 135, np.nan, 115] # í˜ˆì••, ê²°ì¸¡ì¹˜ í¬í•¨
}

df = pd.DataFrame(data)
print("ì›ë³¸ ë°ì´í„°:")
display(df)

ì›ë³¸ ë°ì´í„°:

  Patient_ID  Age Gender Diagnosis_Code  Systolic_BP
0       P001   25      M            E11        120.0
1       P002   65      F            I10        145.0
2       P003   72      M            I10        160.0
3       P004   34      F            J00        110.0
4       P005   88      M            I10        150.0
5       P006   55      F            E11        130.0
6       P007   41      M         Normal        118.0
7       P008   62      M            E11        135.0
8       P009   77      F            C34          NaN
9       P010   29      F         Normal        115.0

2. ì¡°ê±´ì— ë§ëŠ” í™˜ì ì¶”ì¶œ (Boolean Indexing)
ì„ìƒ ì—°êµ¬ì—ì„œ ê°€ì¥ ì¤‘ìš”í•œ 'ëŒ€ìƒì ì„ ì •(Inclusion Criteria)' ê³¼ì •ì„ ì‹¤ìŠµí•œë‹¤.

In [2]:
# ì‹œë‚˜ë¦¬ì˜¤ 1: "65ì„¸ ì´ìƒ(Old)"ì¸ ë…¸ì¸ í™˜ìë§Œ ì¶”ì¶œí•œë‹¤.
senior_cohort = df[df['Age'] >= 65]
print(f"\n[ê²°ê³¼ 1] 65ì„¸ ì´ìƒ í™˜ì ìˆ˜: {len(senior_cohort)}ëª…")
display(senior_cohort)

# ì‹œë‚˜ë¦¬ì˜¤ 2: "ê³ í˜ˆì••(Code: I10)" ì§„ë‹¨ì„ ë°›ì€ í™˜ìë§Œ ì¶”ì¶œí•œë‹¤.
htn_cohort = df[df['Diagnosis_Code'] == 'I10']
print(f"\n[ê²°ê³¼ 2] ê³ í˜ˆì•• í™˜ì ìˆ˜: {len(htn_cohort)}ëª…")
display(htn_cohort)

[ê²°ê³¼ 1] 65ì„¸ ì´ìƒ í™˜ì ìˆ˜: 4ëª…

  Patient_ID  Age Gender Diagnosis_Code  Systolic_BP
1       P002   65      F            I10        145.0
2       P003   72      M            I10        160.0
4       P005   88      M            I10        150.0
8       P009   77      F            C34          NaN

[ê²°ê³¼ 2] ê³ í˜ˆì•• í™˜ì ìˆ˜: 3ëª…

  Patient_ID  Age Gender Diagnosis_Code  Systolic_BP
1       P002   65      F            I10        145.0
2       P003   72      M            I10        160.0
4       P005   88      M            I10        150.0

3. ë³µí•© ì¡°ê±´ í•„í„°ë§ (AND, OR)
ì—¬ëŸ¬ ì¡°ê±´ì„ ë™ì‹œì— ë§Œì¡±í•´ì•¼ í•˜ëŠ” ê²½ìš° ì—°ì‚°ìë¥¼ ì‚¬ìš©í•œë‹¤.
& (AND): ë‘ ì¡°ê±´ ëª¨ë‘ ë§Œì¡±
| (OR): ë‘˜ ì¤‘ í•˜ë‚˜ë¼ë„ ë§Œì¡±
~ (NOT): ì¡°ê±´ì˜ ë°˜ëŒ€

In [ ]:
# ì‹œë‚˜ë¦¬ì˜¤ 3: "60ì„¸ ì´ìƒ" ì´ë©´ì„œ(AND) "ê³ í˜ˆì••(I10)"ì¸ ê³ ìœ„í—˜êµ° í™˜ì ì¶”ì¶œ
high_risk_cohort = df[ (df['Age'] >= 60) & (df['Diagnosis_Code'] == 'I10') ]

print("\n[ê²°ê³¼ 3] 60ì„¸ ì´ìƒ & ê³ í˜ˆì•• í™˜ì (ê³ ìœ„í—˜êµ°):")
display(high_risk_cohort[['Patient_ID', 'Age', 'Diagnosis_Code', 'Systolic_BP']])

# ì‹œë‚˜ë¦¬ì˜¤ 4: íŠ¹ì • ì§ˆí™˜êµ°(ë‹¹ë‡¨ E11 ë˜ëŠ” ê³ í˜ˆì•• I10)ì— ì†í•˜ëŠ” ë§Œì„±ì§ˆí™˜ì ì¶”ì¶œ (isin í™œìš©)
chronic_diseases = ['E11', 'I10']
chronic_cohort = df[df['Diagnosis_Code'].isin(chronic_diseases)]

print(f"\n[ê²°ê³¼ 4] ë§Œì„±ì§ˆí™˜(ë‹¹ë‡¨/ê³ í˜ˆì••) í™˜ì ìˆ˜: {len(chronic_cohort)}ëª…")

[ê²°ê³¼ 3] 60ì„¸ ì´ìƒ & ê³ í˜ˆì•• í™˜ì (ê³ ìœ„í—˜êµ°):

  Patient_ID  Age Diagnosis_Code  Systolic_BP
1       P002   65            I10        145.0
2       P003   72            I10        160.0
4       P005   88            I10        150.0

[ê²°ê³¼ 4] ë§Œì„±ì§ˆí™˜(ë‹¹ë‡¨/ê³ í˜ˆì••) í™˜ì ìˆ˜: 6ëª…

4. ê²°ì¸¡ì¹˜ í•„í„°ë§
ë°ì´í„° í’ˆì§ˆ ê´€ë¦¬ë¥¼ ìœ„í•´ ì¤‘ìš” ë°ì´í„°ê°€ ë¹„ì–´ìˆëŠ” í™˜ìë¥¼ ì œì™¸í•œë‹¤.

In [6]:
# ì‹œë‚˜ë¦¬ì˜¤ 5: ìˆ˜ì¶•ê¸° í˜ˆì••(Systolic_BP) ê¸°ë¡ì´ ì—†ëŠ” í™˜ì í™•ì¸ ë° ì œì™¸
missing_bp = df[df['Systolic_BP'].isnull()]
print("\n[í™•ì¸] í˜ˆì•• ê¸°ë¡ì´ ì—†ëŠ” í™˜ì:")
display(missing_bp)

# í˜ˆì•• ê¸°ë¡ì´ ìˆëŠ” í™˜ìë§Œ ë‚¨ê¸´ë‹¤ (dropna ëŒ€ì‹  ì¡°ê±´ë¬¸ ì‚¬ìš© ì˜ˆì‹œ)
clean_df = df[df['Systolic_BP'].notnull()]
print(f"\n[ê²°ê³¼ 5] í˜ˆì•• ê¸°ë¡ ìœ íš¨ í™˜ì ë°ì´í„°: {len(clean_df)}ëª…")

[í™•ì¸] í˜ˆì•• ê¸°ë¡ì´ ì—†ëŠ” í™˜ì:

  Patient_ID  Age Gender Diagnosis_Code  Systolic_BP
8       P009   77      F            C34          NaN

[ê²°ê³¼ 5] í˜ˆì•• ê¸°ë¡ ìœ íš¨ í™˜ì ë°ì´í„°: 9ëª…